---
import { Image } from "astro:assets";
import Base from "@layouts/Base.astro";
import Kickoff from "@components/Kickoff.astro";
import NavCard from "@components/NavCard.astro";
import Button from "@components/Button.astro";
import Section from "@components/Section.astro";

import kickoff_image from "@images/kickoff-feb26.jpg"
import projectsImage from "@images/projects/tgpWebsite.jpg"
import logoImage from "@images/logo.png"
import geroPhoto from "@images/cgg/geraldton_feature.jpg"
import blogPhoto from "@images/blogs/kickoff-2026.jpg"
---

<Base title="Homepage" description="The homepage for my website :)">
	<Kickoff contentAlign="left" backgroundImage={kickoff_image} backgroundAlt="A photo of a coastline" mobileBackgroundOffset={-800}>
		<h1>Welcome!</h1>
		<h2>My name is Ethan Dahlberg :)</h2>
		<p>
			I am a lifelong resident of the City of Greater Geraldton<br/>
			with visions for the future of our city and state.<br/>
			<br/>
			I also do personal technological activities as well, including<br/>
			gaming and other video content in my spare time.<br/>
			<br/>
			(and if you know me as TGP, then "Hi! It's me: TGP!")
		</p>
		<Image src={logoImage} alt="TGP Logo" width="300" loading="eager"/>
	</Kickoff>
	<Section contentAlign="center">
		<Button href="cgg/cyclone-narelle"><b><u>
			The City of Greater Geraldton is set to be affected by Tropical Cyclone Narelle on March 28th. This page contains basic information about what to expect.<br/>
			DO NOT rely on this website for updated information.
		</u></b></Button>
		<h3>
			<br/>
			If you are in a life-threatening situation at any point, call Triple Zero (000) immediately on a mobile device.<br/>
			Landline services in Geraldton will be affected, so you will need a mobile phone.
		</h3>
	</Section>
	<NavCard
		imageSide="right"
		imageSrc={geroPhoto}
		imageAlt="A photo of a Cathedral on a cloudy day."
	>
		<h2>City of Greater Geraldton</h2>
		<p>
			These pages follow my political endeavours for the City of Greater Geraldton in Western Australia
		</p>
		<Button href="cgg">View Here</Button>
	</NavCard>
	<NavCard
		imageSide="left"
		imageSrc={blogPhoto}
		imageAlt="A photo of a coastline."
	>
		<h2>Blogs & Updates</h2>
		<p>
			These pages are my personal blogs, separate from my political updates
		</p>
		<Button href="blogs/2026-03/19-days-to-furdu">View Latest Blog: <b>March 2026: 19 Days until FurDU</b></Button>
		<Button href="blogs">View More Here</Button>
	</NavCard>
	<NavCard
		imageSide="right"
		imageSrc={projectsImage}
		imageAlt="A photo of a computer screen featuring a bunch of code"
	>
		<h2>Hobbies & Projects</h2>
		<p>
			These pages list off a bunch of side things that I do in my spare time
		</p>
		<Button href="/projects">View Here</Button>
	</NavCard>
</Base>