---
import Base from "@layouts/Base.astro";
import Kickoff from "@components/Kickoff.astro";
import TextImageSection from "@components/TextImageSection.astro";
import Section from "@components/Section.astro"

import kickoffPhoto from "@images/blogs/2026-03/church-camp/kickoff.jpg"
import friday01 from "@images/blogs/2026-03/church-camp/friday01.jpg"
import friday02 from "@images/blogs/2026-03/church-camp/friday02.jpg"
import friday03 from "@images/blogs/2026-03/church-camp/friday03.jpg"
import friday04 from "@images/blogs/2026-03/church-camp/friday04.jpg"
import saturday01 from "@images/blogs/2026-03/church-camp/saturday01.jpg"
import saturday02 from "@images/blogs/2026-03/church-camp/saturday02.jpg"
import saturday03 from "@images/blogs/2026-03/church-camp/saturday03.jpg"
import saturday04 from "@images/blogs/2026-03/church-camp/saturday04.jpg"
import saturday05 from "@images/blogs/2026-03/church-camp/saturday05.jpg"
import saturday06 from "@images/blogs/2026-03/church-camp/saturday06.jpg"
import sunday01 from "@images/blogs/2026-03/church-camp/sunday01.jpg"
import sunday02 from "@images/blogs/2026-03/church-camp/sunday02.jpg"
---

<Base title="Church Camp" description="My March 2026 blog post on Church Camp">
    <Kickoff contentAlign="center" backgroundImage={kickoffPhoto} backgroundAlt="A hand drawn building.">
        <h1>Church Camp</h1>
        <h3>Friday 13th - Sunday 15th (2026)</h3>
        <p>
            Over this weekend, the Lighthouse church attended their annual church-wide camp up at the coastal town of Horrocks - an hour drive north of Geraldton. I was fortunate enough to attend this camp for the second time, with my first being their 2025 camp after the invite was extended to all members of their youth group.<br/>
            <br/>
            This page is going to tangent away at times, since I want this page to serve as both a blog about the camp and a post-camp oration. So, buckle up, my fellow readers, as I'll be delving into a few close things.
        </p>
    </Kickoff>
    <Section contentAlign="left">
        <p><u>
            Published: <b>March 18th, 2026</b>
        </u></p>
        <p>
            I wanted to start this off by saying that I'm not a Christian.
        </p>
        <p>
            Over a month ago, I had this discussion over lunch with the Youth Pastor of the church I attend youth group at on whether or not I'd be alright to return to youth group. It was a cautious decision that the both of us had to make, since he would be letting an outsider help assist in teaching the ways of Jesus. At that lunch, he told me that there was a "burden of responsibility" I'd have to bear in order to return, since kids would be taking my word for granted.<br/>
            <br/>
            I was told to picture a line, which I'll represent with one of those tall metal fences with the spikes on top. On one side of the fence, you had the followers of Jesus, and on the other side you didn't. There was no grey area to this situation, which is why you can't sit on top of the fence; and even if you could sit on top of the fence, you wouldn't be comfortable for long enough before jumping down onto either side of the fence.<br/>
            <br/>
            Nevertheless, I was permitted to return, but of course I had to feel restricted. Of course, I had to plan my words carefully, because I could end up saying one wrong word and be cast away from the community I felt loved at. That's why I didn't like Christians. We had that chat about "Teenage Ethan" and "Adult Ethan".<br/>
            <br/>
            Teenage Ethan would believe that Christians were scary people. They would try and cast away the sins of the world so that everyone's conformed to the way of the gospels. That's why Teenage Ethan was reluctant to attend youth group in the first place, and was hesitant about attending the church camp for the first time in 2025. The only difference between Teenage Ethan and Adult Ethan in this situation, besides age, is the experience. Adult Ethan has been around these people for four whole years, and Adult Ethan has learnt things along the way.<br/>
            <br/>
            Adult Ethan learnt more things as he was re-invited back to Church Camp for 2026.
        </p>
    </Section>
    <TextImageSection imageAlt="A blurred photo of people setting up swags at a campsite" imageSide="right" imageSrc={friday01}>
        <p>
            Now, before I get into the details about this camp, I should show you why all the images of people are blurred.<br/>
            <br/>
            Despite Australian law allowing photographers to take photos of whatever whenever (don't take these words for granted), there are restrictions to that. Right now, the photo was taken on private property, which would more than likely require me to have consent of the caravan park to publish, but that's not the important part.<br/>
            <br/>
            I know that these people would love to see the photos that I took, but publication of these photos will be difficult. I would need to contact every individual person for consent to publish, and that's difficult if I don't know each individual person, nor their parents since most kids attending are under 16.
        </p>
    </TextImageSection>
    <TextImageSection imageAlt="A photo of a patch of grass, where the main subject is a blue tree with no leaves." imageSide="left" imageSrc={friday02}>
        <p>
            Like, if you have a photo of this tree, it would be alright. This section of Horrocks is (most likely) on public property, and so there's no issues with it. There's also no issues taking photos of private property from public property, such as the houses and parts of the caravan park, but again, don't take my word for granted.<br/>
            <br/>
            Returning to the Under 16 bit, a lot of these photos were taken in public, and would be protected under Australia's "presumption of no privacy" laws. However, not only is this a private organisation event that I'm attending, I haven't asked for consent of the parents of the kids. I'm also screened by the WA Department of Communities and have obtained a Working With Children's Check. Taking photos of kids can be seen as predatory, and to avoid this and other privacy concerns, I'm loosely protecting the identities of all people.
        </p>
    </TextImageSection>
    <TextImageSection imageAlt="A photo of a painting of two boats on a wall above a stack of chairs." imageSide="right" imageSrc={friday03}>
        <p>
            To kickstart the camp, we finished setting up our campsite before making it over to the Horrocks Community Centre. Four of the youth group leaders hosted games for the entire church, not just the youth group, to play. Those games involved "Would You Rather", which is where you divide the room into two sides (would you rather A or B). Creatively, the person running this game didn't like fence sitters, and so always made the middle "neither" instead of "both".<br/>
            <br/>
            Then we had a game of ice breakers, which is where everyone sits in a circle with one less chair for the person in the middle. What you're meant to do is tell people who you are and one thing about you that other people may also have about them. It wasn't allowed to be something boring like "I'm wearing white shoes", since that's subject to easily change. It had to be something about you like "I like coffee" or "I don't give a shit about whether or not pineapple goes on pizza! You're allowed to remove it if you don't like it!!!". (With the swearing omitted, of course. After all, you are around children as young as, like, two)
        </p>
    </TextImageSection>
    <TextImageSection imageAlt="A blurred photo of a person lying face-down on the ground." imageSide="left" imageSrc={friday04}>
        <p>
            Then you had the whole room running around playing Rock Paper Scissors, with the losers cheering on each individual winner until there was an ultimate winner.<br/>
            <br/>
            Then you had "Bang!", where you were back in a circle around the room, where the person in the middle would call out your name and you had to duck before the two people on either side of you had to shoot each other. The difference in this game was that instead of calling out "Bang!", you had to call out the person's name. If you didn't duck in time, you were the one that was shot, and if you fired when you weren't supposed to, you were shot down by the person in the middle, ending up like this guy here.<br/>
            <br/>
            That brought the Friday night to a close. We all trotted off back to camp for our showers and sleep.
        </p>
    </TextImageSection>
    <Section contentAlign="left">
        <p>
            Now, the story of Teenage and Adult Ethan continues with the arrival of the early Saturday morning, and that was when the theme of what we're learning at Youth Group coincided with this camp. There was always going to be a theme to this camp, and it would coincide with what came across in the teachings. Last year's theme was "sabbath". Commonly observed on a Sunday in Western Christianity, but on a Saturday by the East, the Sabbath is a day of rest, and that camp saw the introduction of a sabbath feast. This camp's theme, as observed in the church, was "community" and the idea of coming together.
        </p>
    </Section>
    <TextImageSection imageAlt="A blurred photo of a jetty with four people fishing off of it into the ocean." imageSide="right" imageSrc={saturday01}>
        <p>
            Whilst Adult Ethan knew that those who had woken up early to worship the Lord had woken up early to worship the Lord, Adult Ethan also saw other things too that non-Christians did too. People were fishing, people were walking. Kids were riding their bikes and their skateboards. Some went for a swim, whilst others went for a surf.<br/>
            <br/>
            Had Teenage Ethan been asked "what do Christians do when they wake up", Teenage Ethan would more than likely respond with a stereotype. "Worshiping God" or "Praying to Jesus" would more than likely come out of his mouth, and of course, he would be correct. Christians do worship god and pray to Jesus in the morning, and that is something that all Christians would do... but is that all they would do?<br/>
            <br/>
            In the eyes of Adult Ethan, he saw the same thing that non-Christians can do.
        </p>
    </TextImageSection>
    <TextImageSection imageAlt="A photo of a takeaway cup of coffee." imageSide="left" imageSrc={saturday02}>
        <p>
            Adult Ethan saw the campsite come together and share a breakfast with each other. He saw them help to clean the dishes. Yes, those that prayed before eating prayed before eating, but Adult Ethan didn't see that as off-putting. It's just a custom that he doesn't normally participate in.<br/>
            <br/>
            When the community came together by 9am, he saw the community helping each other the same way non-Christians would. Coffee was brewed for those (like me) that drink it, children played games for those that played them, and conversations were held with those that made them. It didn't feel off-putting at all.<br/>
            <br/>
            When the community paused to pray for the day ahead of them, of course there was a sense of unease being an outsider, but Adult Ethan didn't walk out or look around the room at all the Christians praying to their god like Teenage Ethan would've done. Adult Ethan prayed with them as a sign of respect.
        </p>
    </TextImageSection>
    <TextImageSection imageAlt="A photo of a person holding a watermelon with a face drawn on it." imageSide="right" imageSrc={saturday03}>
        <p>
            There's only one time a church community will ever see fire burn in the eyes of its congregation, and that's when the community fires up to play Watermelon Rugby.<br/>
            <br/>
            What's Watermelon Rugby? It's literally just rugby, but you play it in the ocean and the ball is a three-foot tall watermelon with the face of Larry the Cucumber (from VeggieTales) drawn on. I tell you now, no matter whether it's Teenage Ethan or Adult Ethan, both of them will tell you that there's nothing more hilarious to see than grown men fighting over a watermelon.<br/>
            <br/>
            (and before you ask "why didn't you blur the identity of this person?", the reason I don't care about that person's identity is because that person is me)
        </p>
    </TextImageSection>
    <TextImageSection imageAlt="A blurred photo of a group of people huddled into two teams on a beach." imageSide="left" imageSrc={saturday04}>
        <p>
            The morning was divided into two sections: the burning fires of Watermelon Rugby, or the calm and creative arts of the Sandcastle Competition.<br/>
            <br/>
            The fires were raging on as the battle went on between the Older Men and the Younger Men. After a thrashing during last year's camp, the Younger Men spent the next year training. They trained and trained so they could take down the Older Men at the next church camp. Inevitably, were they successful in their endeavours?<br/>
            <br/>
            Absolutely not. XD<br/>
            <br/>
            Nevertheless, the Younger Men stayed determined, and ensured that they will keep on training and keep on fighting until the day they win.
        </p>
    </TextImageSection>
    <Section contentAlign="left">
        <p>
            So, what followed next? Well, the next few hours were spent as a free-time activity. Families would split to have their lunches before they came back together. Some would play games, some would sit and chat. Others would go out four-wheel driving. What I did was take a walk around Horrocks. It was the one time of the year that I would travel up there now, and now that I'm older, I have the freedom to wander.
        </p>
    </Section>
    <TextImageSection imageAlt="A photo of houses along a coastline." imageSide="right" imageSrc={saturday05}>
        <p>
            Looking back at these photos as I write this blog, I start to wonder why I did this. If there were games that were being played, conversations that were being made, and tracks from driving that were being laid, why did I skip out on all of it?<br/>
            <br/>
            There's one thing that both Ethan's have in common: Isolation is an easier choice.<br/>
            <br/>
            I didn't have the car on me, but I still could've asked to tag along. I didn't know how to play most games, but I still could've learnt. I didn't know who most of the people are, but I still could've introduced myself.<br/>
            <br/>
            If I could play all the cards in my hand, why did I pull an extra card from the pile and play that card instead?
        </p>
    </TextImageSection>
    <Section contentAlign="left">
        <p>
            Was it because I was afraid of speaking to those people? Was it that part of Teenage Ethan that Adult Ethan didn't want to let go? Did I feel scared that if I said the wrong thing that I would be cast aside to rot in hell?<br/>
            <br/>
            There were, of course, times where those outside of Youth Group would come and introduce themselves to me. I have never met them before, and they have never met me. The same burden of responsibility of being at Youth Group struck already, without me saying a word. Whilst children could think that what I say is true, adults think straight away that, because I'm there, I'm part of the same congregation whilst I know the difference in which that I'm not.<br/>
            <br/>
            Of course I have secrets, and of which those secrets aren't secrets to another audience, and that's why Teenage Ethan can't easily be let go: because if those secrets are no longer secrets and play out of favour for Adult Ethan, Teenage Ethan would come crawling back and say "I told you so".
        </p>
    </Section>
    <TextImageSection imageAlt="A photo of a long table with loads of chairs. The tables are decorated with plates, candles, and food." imageSide="left" imageSrc={saturday06}>
        <p>
            Those thoughts didn't stop me as we came back together for our "No Talent" show, where some kids show off their talent and others didn't. It was an enjoyable moment of entertainment.<br/>
            <br/>
            Finally, the day was coming to a close as the community centre was cleared to make way for the sabbath meal. Yet again, I wandered, but did stick by to the centre. I met some people, and those people met me. When the centre reopened, we all came together to share one final meal with each other.<br/>
            <br/>
            Bread, salad, potatoes and meat were scattered across the table that was decorated by gum leaves and candles. A delicious feast to be served, topped off by cake to celebrate the birthdays of the week ahead.
        </p>
    </TextImageSection>
    <Section contentAlign="left">
        <p>
            Each person parted ways to do their own things. Although there was a worship group on the beach, I had to opt out to charge my phone (I am a photographer, after all). So, as my phone charged, I sat down to read "The Prodigal God" by Timothy Keller. This book was given to us Youth Group leaders to go over in our post-night meetings. I got through several of the chapters before I met up with the Youth Pastor. He asked me how I felt about the book, and I said that it has definitely made me think about things.<br/>
            <br/>
            The book is about Tim Keller's sermon about the Tale of Two Sons. One son asks his father for his share of his inheritance, before he leaves. He then comes back, and the father has a feast to celebrate whilst the older brother isn't happy because he followed the rules and isn't rewarded. I don't want to delve further into the book right now, but Keller's point about the story is that, quote: "you can rebel against God and be alienated from him either by breaking his rules <i>or</i> by keeping all of them diligently".
        </p>
    </Section>
    <TextImageSection imageAlt="A photo of three people singing whilst playing the guitar and piano" imageSide="right" imageSrc={sunday01}>
        <p>
            Nevertheless, the camp was coming to a close on Sunday.<br/>
            <br/>
            There have only ever been two Sunday services that I've attended, and both of which have been at these Church Camps (being last year's and this year's). It felt a bit odd that I was there, singing along to all these worship songs. I'm a musical person, after all, so it's only natural of me to sing along to these songs.<br/>
            <br/>
            Yet, there was still this feeling that I was being watched. I felt like that many of those that I knew were surprised to see me sing. Those that knew, who have been told by me, that I was not a Christian were those I felt watching me.<br/>
            <br/>
            Teenage Ethan would've had a field day seeing this. All these people raising their hands, kneeling on the ground. It would've felt odd to be around.
        </p>
    </TextImageSection>
    <Section contentAlign="left">
        <p>
            It was still an odd feeling for Adult Ethan. All those thoughts about those people who he used to fear felt disproven, yet became unmasked during the service. Yet, this is what unites the church. The church comes together to share their love for God. They want to show everyone, not just God, how much they all love him and will do anything for him. Who am I as the outsider to tell the congregation how to love their God?
        </p>
    </Section>
    <TextImageSection imageAlt="A photo of four trays of sliced watermelon displayed on a table." imageSide="left" imageSrc={sunday02}>
        <p>
            So then, after the service, we all had the final lunch together. Unfortunately, we must say our farewells to Larry and express our gratitude in him being the Watermelon Rugby watermelon. His butchering was not done in vain, as he was very much delicious.<br/>
            <br/>
            It took us several hours to get through the large assortment of snacks and cool drink before the main meal was served: sausage sizzles and burgers.<br/>
            <br/>
            With our food being eaten, the Community Centre cleaned up, and all of the equipment stashed away for the hour's journey ahead of us, Church Camp came to a close.
        </p>
    </TextImageSection>
    <Section contentAlign="left">
        <p>
            So, now it's time to close this Tale of Two Ethans.<br/>
            <br/>
            If you told Teenage Ethan that he would be on more than one church camp, he'd be having a laugh. If you told him that he'd be befriending a Christian community, he'd continue to laugh. If you told him he'd be at the very gate between understanding Christianity, well he'd probably laugh his way to a heart attack.<br/>
            <br/>
            Trying to tell Teenage Ethan that there's nothing wrong with religion is not an easy thing to do. He'd probably end up screaming at you about the things you stand for and the things they don't.<br/>
            <br/>
            "What about same-sex marriage?"<br/>
            "What about abortions?"<br/>
            "Why do you stand for these things yet stand on the same side of the fence as those that oppose it?"<br/>
            <br/>
            And he's right in many ways. Of course, there are things that these people will always stand against. Teenage Ethan will tell you that "you're a sinner because it's against the bible. They're the very words of God, and they'll stick to every single letter. The Holy Bible is their holy rulebook.", and he'd still be right.<br/>
            <br/>
            But those same teachings tell you that sticking to every letter alienates your love of God in the same way as that of a sinner. People's stances on same-sex marriage and abortion rights are not the only definitive things that'll send you down below. That's why Jesus tells you the Tale of the Two Sons; that same story that I was reading about on that Saturday night. That same story that I was talking to my Youth Pastor about.<br/>
            <br/>
            <br/>
            So, I told him about the fence. I've told him then, and I tell him now as I read this to him:<br/>
            <br/>
            If you go as far as to learn about God; to speak to him yourself, to have others speak about him to yourself, and to have yourself spoken to God by others; to connect with those that recognise their love to God and to have those connect with you; to respect the differences of every child of God, to recognise that every child is every child of God, and to recognise your own love for God, then what's there saying that you haven't walked through that fence?<br/>
            <br/>
            That's what I believe the fence means.<br/>
            <br/>
            Thank you for letting me come along to the camps and the youth groups, and for letting me be a part of your community :)
        </p>
    </Section>
</Base>
<style>
    h3 {
        text-decoration: underline;
    }
</style>